html, body{
    width: 100%;
    font-family: margot;
    font-size: 16px;
    color: black;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.outer{
    width: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;
    position: relative;

    @media (min-width: 1440px) {
        width: 1200px;
        height: 810px;
    }

    @media (min-width: 1024px) and (max-width: 1439.98px) {
        width: 768px;
        height: 600px;
    }

    @media (min-width: 768px) and (max-width: 1023.98px) {
        width: 700px;
        height: 800px;
    }

    @media (max-width: 767.98px) {
        width: 350px;
        height: 800px;
    }
}

.hide{
    display: none;
}

.show{
    display: block;
}

.fade{
    animation: fade 1s;
}

@keyframes fade{
    from{
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}


