@mixin star{
    @media (min-width: 1440px) {
        width: 50px;
    }

    @media (min-width: 1024px) and (max-width: 1439.98px) {
        width: 30px;
    }

    @media (min-width: 768px) and (max-width: 1023.98px) {
        width: 30px;

    }

    @media (max-width: 767.98px) {
        width: 30px;
    }
}